img {
  width: 100%;
  height: auto;
}

article p img {
  float: right;
}

.not-front .field-image img {
  width: 100%;
  height: auto;
}

.not-front article img {
  width: inherit;
  height: inherit;
}

.not-front main {
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D6D1;
}

#social {
  margin-top: 30px;
}

#social .social-icon {
  background-color: #3B5998;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 4px;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 1.8em;
}

/* Sidebar */

.related-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px;
}

.related-sidebar ul > li {
  margin-bottom: 5px;
}

.related-sidebar ul a {
  color: #38312b;
  text-transform: uppercase;
}

.related-sidebar i {
  font-family: Fontawesome;
  font-style: normal;
  margin-right: 10px;
}

/* Forms */

label {
  display: block;
  margin-bottom: 15px;
}

input:not([type="submit"]), textarea {
  padding: 0.5em;
  font-weight: normal;
  border: 1px solid #D8D6D1;
  width: 100%;
}

input:not([type="submit"]) {
  height: 40px;
}

/* SERVICES */
#services {
  padding: 0;
  background-color: #fff;
}

.services--box {
  padding: 30px 30px 60px 100px;
  border-right: 1px solid #D8D6D1;
  border-bottom: 1px solid #D8D6D1;
  min-height: 330px;
  height: auto;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 25px 40px;
}
.services--box:first-of-type {
  background-image: url(../img/icons/icon-dog-badge.png);
}
.services--box:nth-of-type(2) {
  background-image: url(../img/icons/icon-leashed-dog.png);
}
.services--box:nth-of-type(3) {
  border-right: 0;
  background-image: url(../img/icons/icon-dog-food.png);
}

.services--box h2 a {
  color: inherit;
}
.services--box h2 a:hover, .services--box h2 a:focus {
  color: #ff6600;
  text-decoration: none;
}

.btn-default {
  background-color: #ff6600;
  border-color: #ff6600;
  color: #fff;
  border-radius: 0;
  font-size: 16px;
  margin-top: 10px;
}

/* MAIN */
#main-content {
  background-color: #fff;
  padding: 60px 30px;
}

#main-content #about p {
  margin-bottom: 20px;
}

/* FOOTER styles */

.disclaimer {
  padding: 30px 0;
}

/* MOBILE */

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .navbar {
    padding: 15px 0;
  }

  .custom-logo {
    height: 80px;
    width: auto;
  }

  .navbar-toggle {
    margin-top: 35px;
  }
}
