img {
  width: 100%;
  height: auto;
}

.not-front article img {
  width: inherit;
  height: inherit;
}

.not-front main {
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D6D1;
}

#social {
  margin-top: 30px;
}

#social .social-icon {
  background-color: #3B5998;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 4px;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 1.8em;
}

/* Forms */

label {
  display: block;
  margin-bottom: 15px;
}

input:not([type="submit"]), textarea {
  padding: 0.5em;
  font-weight: normal;
  border: 1px solid #D8D6D1;
  width: 100%;
}

input:not([type="submit"]) {
  height: 40px;
}

/* Contact page */

.contact-form {
  padding-right: 60px;
  margin-bottom: 0;
}

.field-image {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    padding-right: 0;
    margin-bottom: 60px;
  }
}
