body {
  /* System Fonts as used by Medium and WordPress */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #484d44;
  background-color: #D8D6D1;
}

h2 {
  font-family: 'Six Caps', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: #38312b;
  margin-bottom: 20px;
  margin-top: 0;
}

a:hover, a:focus {
  transition: all .2s ease-in;
}

.container {
  padding: 0 30px;
}
/* HEADER */

.header--wrapper {
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #D8D6D1;
  border-radius: 0;
  padding: 30px 0;
  margin-bottom: 0;
}

.navbar-toggle .icon-bar {
  background-color: #484d44;
}

.nav {
  margin-top: 40px;
}

.nav > li > a {
  color: #484d44;
  text-transform: uppercase;
  margin: 0 3px;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li.active > a {
  color: #fff;
  background-color: #fd6300;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #777;
}

/* Bootstrap dropdown on hover fix */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  .navbar-nav > li > .dropdown-menu {
    background-color: #fd6300;
    padding: 15px;
    left: 0;
    /* margin-top: 3px; */
    right: auto;
    border-radius: 0;
    border: 0;
    border-top: 1px solid white;
  }
  .dropdown-menu > li > a {
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: #777;
    color: white;
  }
}

/* HERO */

#hero {
  background-color: #fff;
}

.vacatures {
  padding: 30px 0;
}

.cta-title {
  display: inline-block;
  margin-right: 30px;
  font-weight: normal;
}

.btn-cta {
  background-color: #fd6300;
  border-color: #fd6300;
  color: white;
  border-radius: 0;
}

.slider {
  margin-bottom: 60px;
}

.soliloquy-container {
  display: block;
  float: left;
}

@media screen and (max-width: 991px) {
  #hero {
    padding: 0;
  }

  .vacatures {
    padding: 30px;
  }
}

@media screen and (max-width: 567px) {
  .vacatures {
    text-align: center;
  }

  .cta-title {
    margin: 30px 0;
  }

  .vacatures .btn-cta {
    margin-bottom: 30px;
  }
}
